---
title: Blog
image_view: true
---
<h1 class="section-border">Blog</h1>

{% if page.image_view %}
	{% for category in site.categories reversed %}
		<h2>{{ category[0] }}</h2>
		<div class="recipes">
			{% for recipe in category[1] %}
				<div class="recipe">
					<img src="{{ recipe.feature_image }}" alt="{{ recipe.feature_image_title}}" />
					<a  href="{{ site.baseurl }}{{ recipe.url }}"
					style="margin-top:-210px"><span>{{ recipe.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
